.HeaderBox{
    background-color: rgba(255, 0, 0, 0);
    color: white;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-Index: 1;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly !important;
    margin: 15px;
}