.MovieCard{
    width: 25%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 15px;
}
.title_block {
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
}
